name: Deploy
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v3.6.0
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3.8.2
        with:
          node-version: 18
          cache: npm
      - run: npm install --frozen-lockfile
      - name: Build
        run: npm run build
      - uses: actions/configure-pages@v4.0.0
      - uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: docs/.vitepress/dist
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4.0.1 
